.root {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 400px;
  background: var(--token-wfBAKJEefJRO);
  position: relative;
  border-radius: 16px;
}
.rootprimary {
  border: 0px none var(--token-aFWbqnZsicRN);
}
.rootborders_flatLeft {
  border-radius: 20px;
}
.rootborders_flatRight {
  border-radius: 20px;
}
.rootborders_flatCenter {
  border-radius: 20px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 400px;
  align-self: center;
  min-width: 0;
  border-radius: 20px;
  padding: 8px 48px;
}
.freeBoxborders_flatLeft {
  background: #185adb;
  padding-left: 41px;
  padding-right: 41px;
}
.freeBoxborders_flatRight {
  padding-left: 41px;
  padding-right: 41px;
  border-radius: 20px;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  padding-top: 20px;
  min-width: 0;
}
.h4borders_flatLeft {
  color: var(--token-wfBAKJEefJRO);
  font-size: 36px;
}
.h4borders_flatRight {
  font-size: 36px;
}
.h4borders_flatCenter {
  margin-top: 52px;
}
.text__meJlh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 12px;
  min-width: 0;
}
.textprimary__meJlh0Nsnr {
  text-align: center;
}
.textborders_flatLeft__meJlhtj01J {
  color: var(--token-wfBAKJEefJRO);
  text-align: center;
  font-size: 16px;
}
.textborders_flatRight__meJlhtGleR {
  text-align: center;
  font-size: 16px;
}
.textborders_flatCenter__meJlh44CQl {
  text-align: center;
}
.img__vUo {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 32px;
  align-self: center;
}
.img__vUo > picture > img {
  object-fit: cover;
}
.columns__jyt09 {
  --plsmc-rc-col-gap: 0px;
}
.columns__jyt09 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 32px 0px 0px;
}
.columns__jyt09 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__jyt09 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jyt09 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jyt09 > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__jyt09 > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
  }
}
.column__eDZdS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__txEs8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__txEs8 > picture > img {
  object-fit: cover;
}
.column__rpcG9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__a3Wef {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__a3Wef {
    width: 100%;
    min-width: 0;
  }
}
.textborders_flatLeft__a3Weftj01J {
  color: var(--token-wfBAKJEefJRO);
  font-size: 14px;
}
.textborders_flatRight__a3WeftGleR {
  font-size: 14px;
}
.columns__iz32Z {
  --plsmc-rc-col-gap: 0px;
}
.columns__iz32Z {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__iz32Z > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__iz32Z > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__iz32Z {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__iz32Z > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter__iz32Z44CQl {
  display: none;
}
.column__i6AZ6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___0EeHj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___0EeHj > picture > img {
  object-fit: cover;
}
.column__c8K9P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__fYm4L {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__fYm4Ltj01J {
  color: var(--token-wfBAKJEefJRO);
  font-size: 14px;
}
.textborders_flatRight__fYm4LtGleR {
  font-size: 14px;
}
.columns___3KQuz {
  --plsmc-rc-col-gap: 0px;
}
.columns___3KQuz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns___3KQuz > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns___3KQuz > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.columns___3KQuz > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___3KQuz {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___3KQuz > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter___3KQuz44CQl {
  display: none;
}
.column__tj9Cq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ispQx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__ispQx > picture > img {
  object-fit: cover;
}
.column__kGFj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__w1Cp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__w1Cp {
    font-size: 12px;
  }
}
.textborders_flatLeft__w1CpTj01J {
  color: var(--token-wfBAKJEefJRO);
  font-size: 14px;
}
.column__tjgwJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__tjgwJ {
    display: none;
  }
}
.columnprimary__tjgwJ0Nsnr {
  display: none;
}
.columnborders_flatLeft__tjgwJtj01J {
  display: none;
}
.columnborders_flatRight__tjgwJtGleR {
  display: none;
}
.columns__dlKl {
  --plsmc-rc-col-gap: 0px;
}
.columns__dlKl {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__dlKl > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__dlKl > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__dlKl {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__dlKl > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter__dlKl44CQl {
  display: none;
}
.column__jofqf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__yc0FK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__yc0FK > picture > img {
  object-fit: cover;
}
.column__evs62 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__rxF1M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__rxF1MTj01J {
  color: var(--token-wfBAKJEefJRO);
  font-size: 14px;
}
.columns__tvy1L {
  --plsmc-rc-col-gap: 0px;
}
.columns__tvy1L {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__tvy1L > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__tvy1L > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__tvy1L {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__tvy1L > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter__tvy1L44CQl {
  display: flex;
}
.column__qX20Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__obnPr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__obnPr > picture > img {
  object-fit: cover;
}
.column__wvIoV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__m1Zuk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns__ngkxq {
  --plsmc-rc-col-gap: 0px;
}
.columns__ngkxq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__ngkxq > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__ngkxq > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__ngkxq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__ngkxq > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter__ngkxq44CQl {
  display: flex;
}
.column__ozEvz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___9NsXj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___9NsXj > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___9NsXj {
    width: 16px;
  }
}
.column__kgEf1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__x4XtW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns__obmPk {
  --plsmc-rc-col-gap: 0px;
}
.columns__obmPk {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__obmPk > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__obmPk > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__obmPk {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__obmPk > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter__obmPk44CQl {
  display: flex;
}
.column__wMvuk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__l2AnJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__l2AnJ > picture > img {
  object-fit: cover;
}
.column__pn1Zd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___0XkgL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns__psAIc {
  --plsmc-rc-col-gap: 0px;
}
.columns__psAIc {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__psAIc > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__psAIc > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__psAIc {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__psAIc > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter__psAIc44CQl {
  display: flex;
}
.column__ojYiB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__qaM6P {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__qaM6P > picture > img {
  object-fit: cover;
}
.column__hIbn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__vq2Zo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.img__gdYYe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 32px;
}
.img__gdYYe > picture > img {
  object-fit: cover;
}
.text__urvT8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-wfBAKJEefJRO);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  align-self: center;
  padding-top: 52px;
  min-width: 0;
}
.textborders_flatLeft__urvT8Tj01J {
  display: block;
}
.textborders_flatRight__urvT8TGleR {
  color: var(--token-JpImfxkZp0BH);
  display: block;
}
.textborders_flatCenter__urvT844CQl {
  color: var(--token-JpImfxkZp0BH);
  display: block;
}
.text__yj0Lo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 12px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__yj0LoTj01J {
  color: var(--token-wfBAKJEefJRO);
  font-size: 16px;
}
.textborders_flatRight__yj0LoTGleR {
  width: 100%;
  text-align: center;
  max-width: none;
  font-size: 16px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
  margin-bottom: 52px;
}
.buttonprimary:global(.__wab_instance) {
  margin-top: 52px;
  margin-bottom: 52px;
}
.buttonborders_flatLeft:global(.__wab_instance) {
  margin-bottom: 52px;
  width: 100%;
  min-width: 0;
}
.buttonborders_flatRight:global(.__wab_instance) {
  margin-bottom: 52px;
  width: 100%;
  align-self: center;
  min-width: 0;
}
.buttonborders_flatCenter:global(.__wab_instance) {
  margin-bottom: 52px;
  width: 100%;
  min-width: 0;
}
.svg__cCaG2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__zxYde {
    font-size: 12px;
  }
}
.textborders_flatLeft__zxYdeTj01J {
  width: 100%;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
.textborders_flatRight__zxYdeTGleR {
  width: 100%;
  text-align: center;
  font-size: 12px;
  min-width: 0;
}
.textborders_flatCenter__zxYde44CQl {
  text-align: center;
  width: 100%;
  min-width: 0;
}
.svg__kUddT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
