@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-lSkJH7iFgEQ_: 1140px;
  --plasmic-token-content-max-width: var(--token-lSkJH7iFgEQ_);
  --token-4KzgQgWgi2J3: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-4KzgQgWgi2J3);
  --token-3nCJDipXecbY: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-3nCJDipXecbY);
  --token-sYhyuqmRjfFc: #92959bd9;
  --plasmic-token-light-label: var(--token-sYhyuqmRjfFc);
  --token-kQBX-_n7L24z: #05050599;
  --plasmic-token-light-secondary: var(--token-kQBX-_n7L24z);
  --token-9jPvZ40QuQTM: #007aff;
  --plasmic-token-light-blue: var(--token-9jPvZ40QuQTM);
  --token-ZNhh7LaCCWzu: #ff3b30;
  --plasmic-token-light-red: var(--token-ZNhh7LaCCWzu);
  --token-wfBAKJEefJRO: #ffffff;
  --plasmic-token-white: var(--token-wfBAKJEefJRO);
  --token-ZYUZ7jmqPgto: #ffffffd9;
  --plasmic-token-dark-label: var(--token-ZYUZ7jmqPgto);
  --token-CYTd3cp5foxb: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-CYTd3cp5foxb);
  --token-GhdEAFiazDO9: #0000001a;
  --plasmic-token-light-quarternary: var(--token-GhdEAFiazDO9);
  --token-JpImfxkZp0BH: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-JpImfxkZp0BH);
  --token-rZNgIlavgOX_: #32d74b;
  --plasmic-token-dark-green: var(--token-rZNgIlavgOX_);
  --token-LDo_0M0kYing: #0a84ff;
  --plasmic-token-dark-blue: var(--token-LDo_0M0kYing);
  --token-hto0SIYn-BBt: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-hto0SIYn-BBt);
  --token-aFWbqnZsicRN: #34c759;
  --plasmic-token-light-green: var(--token-aFWbqnZsicRN);
  --token-UvSMgG2vXB8S: #5856d6;
  --plasmic-token-light-indigo: var(--token-UvSMgG2vXB8S);
  --token-x-Mlh197X95M: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-x-Mlh197X95M);
  --token-x-Mlh197X95M: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-x-Mlh197X95M);
  --token-VUpkzm2ITsXk: 1240px;
  --plasmic-token-max-width-navbar: var(--token-VUpkzm2ITsXk);
  --token-VUpkzm2ITsXk: 1240px;
  --plasmic-token-max-width-navbar: var(--token-VUpkzm2ITsXk);
  --token-CdX8su5SD9t4: var(--token-fn6JTAftKI9v);
  --plasmic-token-unnamed-style-token-2: var(--token-CdX8su5SD9t4);
  --token-CdX8su5SD9t4: var(--token-fn6JTAftKI9v);
  --plasmic-token-unnamed-style-token-2: var(--token-CdX8su5SD9t4);
  --token-fn6JTAftKI9v: #eeeeee80;
  --plasmic-token-grey: var(--token-fn6JTAftKI9v);
  --token-fn6JTAftKI9v: #eeeeee80;
  --plasmic-token-grey: var(--token-fn6JTAftKI9v);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Nca3VhPiTIYo_font-family: "Montserrat", sans-serif;
  --mixin-Nca3VhPiTIYo_font-size: 24px;
  --mixin-Nca3VhPiTIYo_font-weight: 500;
  --mixin-Nca3VhPiTIYo_font-style: normal;
  --mixin-Nca3VhPiTIYo_color: #00000080;
  --mixin-Nca3VhPiTIYo_text-align: left;
  --mixin-Nca3VhPiTIYo_text-transform: none;
  --mixin-Nca3VhPiTIYo_line-height: 1.5;
  --mixin-Nca3VhPiTIYo_letter-spacing: normal;
  --mixin-Nca3VhPiTIYo_white-space: pre-wrap;
  --mixin-Nca3VhPiTIYo_user-select: text;
  --mixin-Nca3VhPiTIYo_text-decoration-line: none;
  --mixin-Nca3VhPiTIYo_text-overflow: clip;
  --mixin-YLu14kRyJ2H5_white-space: pre-wrap;
  --mixin-Sa90mzKDcMZu_font-family: "Montserrat", sans-serif;
  --mixin-Sa90mzKDcMZu_color: #ffffff;
  --mixin-Sa90mzKDcMZu_font-size: 72px;
  --mixin-Sa90mzKDcMZu_font-weight: 700;
  --mixin-Sa90mzKDcMZu_line-height: 88px;
  --mixin-Sa90mzKDcMZu_white-space: pre-wrap;
  --mixin-VOVjh2A8qYjf_font-family: "Inter", sans-serif;
  --mixin-VOVjh2A8qYjf_color: #000000;
  --mixin-VOVjh2A8qYjf_font-size: 36px;
  --mixin-VOVjh2A8qYjf_font-weight: 700;
  --mixin-VOVjh2A8qYjf_line-height: 43px;
  --mixin-VOVjh2A8qYjf_text-align: center;
  --mixin-VOVjh2A8qYjf_white-space: pre-wrap;
  --mixin-1RKgYzBzzYL8_font-family: "Inter", sans-serif;
  --mixin-1RKgYzBzzYL8_color: #000000;
  --mixin-1RKgYzBzzYL8_font-size: 24px;
  --mixin-1RKgYzBzzYL8_font-weight: 600;
  --mixin-1RKgYzBzzYL8_letter-spacing: -0.5px;
  --mixin-1RKgYzBzzYL8_line-height: 1.3;
  --mixin-1RKgYzBzzYL8_white-space: pre-wrap;
  --mixin-m8wGqxNPuA2C_font-family: "Montserrat", sans-serif;
  --mixin-m8wGqxNPuA2C_color: #185adb;
  --mixin-m8wGqxNPuA2C_font-size: 24px;
  --mixin-m8wGqxNPuA2C_font-weight: 700;
  --mixin-m8wGqxNPuA2C_line-height: 29px;
  --mixin-m8wGqxNPuA2C_text-align: center;
  --mixin-m8wGqxNPuA2C_white-space: pre-wrap;
  --mixin-OUPRNF3niVtf_font-family: "Inter", sans-serif;
  --mixin-OUPRNF3niVtf_color: #000000;
  --mixin-OUPRNF3niVtf_font-size: 16px;
  --mixin-OUPRNF3niVtf_font-weight: 600;
  --mixin-OUPRNF3niVtf_line-height: 1.5;
  --mixin-OUPRNF3niVtf_white-space: pre-wrap;
  --mixin-DlDkR12EN16u_border-left-color: #dddddd;
  --mixin-DlDkR12EN16u_border-left-style: solid;
  --mixin-DlDkR12EN16u_border-left-width: 3px;
  --mixin-DlDkR12EN16u_color: #888888;
  --mixin-DlDkR12EN16u_padding-left: 10px;
  --mixin-DlDkR12EN16u_white-space: pre-wrap;
  --mixin-7oJ9D6jA5iZH_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-7oJ9D6jA5iZH_border-bottom-color: #dddddd;
  --mixin-7oJ9D6jA5iZH_border-bottom-style: solid;
  --mixin-7oJ9D6jA5iZH_border-bottom-width: 1px;
  --mixin-7oJ9D6jA5iZH_border-left-color: #dddddd;
  --mixin-7oJ9D6jA5iZH_border-left-style: solid;
  --mixin-7oJ9D6jA5iZH_border-left-width: 1px;
  --mixin-7oJ9D6jA5iZH_border-right-color: #dddddd;
  --mixin-7oJ9D6jA5iZH_border-right-style: solid;
  --mixin-7oJ9D6jA5iZH_border-right-width: 1px;
  --mixin-7oJ9D6jA5iZH_border-top-color: #dddddd;
  --mixin-7oJ9D6jA5iZH_border-top-style: solid;
  --mixin-7oJ9D6jA5iZH_border-top-width: 1px;
  --mixin-7oJ9D6jA5iZH_border-bottom-left-radius: 3px;
  --mixin-7oJ9D6jA5iZH_border-bottom-right-radius: 3px;
  --mixin-7oJ9D6jA5iZH_border-top-left-radius: 3px;
  --mixin-7oJ9D6jA5iZH_border-top-right-radius: 3px;
  --mixin-7oJ9D6jA5iZH_font-family: "Inconsolata";
  --mixin-7oJ9D6jA5iZH_padding-bottom: 1px;
  --mixin-7oJ9D6jA5iZH_padding-left: 4px;
  --mixin-7oJ9D6jA5iZH_padding-right: 4px;
  --mixin-7oJ9D6jA5iZH_padding-top: 1px;
  --mixin-7oJ9D6jA5iZH_white-space: pre-wrap;
  --mixin-fUfa5MkOAlYM_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-fUfa5MkOAlYM_border-bottom-color: #dddddd;
  --mixin-fUfa5MkOAlYM_border-bottom-style: solid;
  --mixin-fUfa5MkOAlYM_border-bottom-width: 1px;
  --mixin-fUfa5MkOAlYM_border-left-color: #dddddd;
  --mixin-fUfa5MkOAlYM_border-left-style: solid;
  --mixin-fUfa5MkOAlYM_border-left-width: 1px;
  --mixin-fUfa5MkOAlYM_border-right-color: #dddddd;
  --mixin-fUfa5MkOAlYM_border-right-style: solid;
  --mixin-fUfa5MkOAlYM_border-right-width: 1px;
  --mixin-fUfa5MkOAlYM_border-top-color: #dddddd;
  --mixin-fUfa5MkOAlYM_border-top-style: solid;
  --mixin-fUfa5MkOAlYM_border-top-width: 1px;
  --mixin-fUfa5MkOAlYM_border-bottom-left-radius: 3px;
  --mixin-fUfa5MkOAlYM_border-bottom-right-radius: 3px;
  --mixin-fUfa5MkOAlYM_border-top-left-radius: 3px;
  --mixin-fUfa5MkOAlYM_border-top-right-radius: 3px;
  --mixin-fUfa5MkOAlYM_font-family: "Inconsolata";
  --mixin-fUfa5MkOAlYM_padding-bottom: 3px;
  --mixin-fUfa5MkOAlYM_padding-left: 6px;
  --mixin-fUfa5MkOAlYM_padding-right: 6px;
  --mixin-fUfa5MkOAlYM_padding-top: 3px;
  --mixin-fUfa5MkOAlYM_white-space: pre-wrap;
  --mixin-HIBNI07Qyo15_display: flex;
  --mixin-HIBNI07Qyo15_flex-direction: column;
  --mixin-HIBNI07Qyo15_align-items: stretch;
  --mixin-HIBNI07Qyo15_justify-content: flex-start;
  --mixin-HIBNI07Qyo15_list-style-position: outside;
  --mixin-HIBNI07Qyo15_padding-left: 40px;
  --mixin-HIBNI07Qyo15_position: relative;
  --mixin-HIBNI07Qyo15_list-style-type: decimal;
  --mixin-HIBNI07Qyo15_white-space: pre-wrap;
  --mixin-YnTTvh8ZONQq_display: flex;
  --mixin-YnTTvh8ZONQq_flex-direction: column;
  --mixin-YnTTvh8ZONQq_align-items: stretch;
  --mixin-YnTTvh8ZONQq_justify-content: flex-start;
  --mixin-YnTTvh8ZONQq_list-style-position: outside;
  --mixin-YnTTvh8ZONQq_padding-left: 40px;
  --mixin-YnTTvh8ZONQq_position: relative;
  --mixin-YnTTvh8ZONQq_list-style-type: disc;
  --mixin-YnTTvh8ZONQq_white-space: pre-wrap;
  --mixin-GV1JR1TAeAW4_color: #000000;
  --mixin-GV1JR1TAeAW4_font-family: "Montserrat", sans-serif;
  --mixin-GV1JR1TAeAW4_font-size: 64px;
  --mixin-GV1JR1TAeAW4_font-weight: 700;
  --mixin-GV1JR1TAeAW4_line-height: 78px;
  --mixin-GV1JR1TAeAW4_text-align: center;
  --mixin-GV1JR1TAeAW4_white-space: pre-wrap;
  --mixin-suCqFLPKakAg_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-Nca3VhPiTIYo_font-size: 16px;
    --mixin-Nca3VhPiTIYo_line-height: 27px;
    --mixin-Nca3VhPiTIYo_white-space: pre-wrap;
    --mixin-Sa90mzKDcMZu_font-size: 40px;
    --mixin-Sa90mzKDcMZu_line-height: 48px;
    --mixin-Sa90mzKDcMZu_white-space: pre-wrap;
    --mixin-GV1JR1TAeAW4_font-size: 28px;
    --mixin-GV1JR1TAeAW4_line-height: 34px;
    --mixin-GV1JR1TAeAW4_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-Vaglvf24SsoB_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-Vaglvf24SsoB_white-space);
  --mixin-2Cy2SeS6clrA_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-2Cy2SeS6clrA_box-shadow
  );
  --mixin-2Cy2SeS6clrA_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-2Cy2SeS6clrA_white-space
  );
  --mixin-F6hTAXHVxs_-_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-F6hTAXHVxs_-_white-space);
  --mixin-wyiHTqt6Gg9K_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-wyiHTqt6Gg9K_white-space
  );
  --mixin-_VBdPzgJsp6__white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-_VBdPzgJsp6__white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Nca3VhPiTIYo_font-family);
  font-size: var(--mixin-Nca3VhPiTIYo_font-size);
  font-weight: var(--mixin-Nca3VhPiTIYo_font-weight);
  font-style: var(--mixin-Nca3VhPiTIYo_font-style);
  color: var(--mixin-Nca3VhPiTIYo_color);
  text-align: var(--mixin-Nca3VhPiTIYo_text-align);
  text-transform: var(--mixin-Nca3VhPiTIYo_text-transform);
  line-height: var(--mixin-Nca3VhPiTIYo_line-height);
  letter-spacing: var(--mixin-Nca3VhPiTIYo_letter-spacing);
  white-space: var(--mixin-Nca3VhPiTIYo_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-Sa90mzKDcMZu_font-family);
  color: var(--mixin-Sa90mzKDcMZu_color);
  font-size: var(--mixin-Sa90mzKDcMZu_font-size);
  font-weight: var(--mixin-Sa90mzKDcMZu_font-weight);
  line-height: var(--mixin-Sa90mzKDcMZu_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-VOVjh2A8qYjf_font-family);
  color: var(--mixin-VOVjh2A8qYjf_color);
  font-size: var(--mixin-VOVjh2A8qYjf_font-size);
  font-weight: var(--mixin-VOVjh2A8qYjf_font-weight);
  line-height: var(--mixin-VOVjh2A8qYjf_line-height);
  text-align: var(--mixin-VOVjh2A8qYjf_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-1RKgYzBzzYL8_font-family);
  color: var(--mixin-1RKgYzBzzYL8_color);
  font-size: var(--mixin-1RKgYzBzzYL8_font-size);
  font-weight: var(--mixin-1RKgYzBzzYL8_font-weight);
  letter-spacing: var(--mixin-1RKgYzBzzYL8_letter-spacing);
  line-height: var(--mixin-1RKgYzBzzYL8_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-m8wGqxNPuA2C_font-family);
  color: var(--mixin-m8wGqxNPuA2C_color);
  font-size: var(--mixin-m8wGqxNPuA2C_font-size);
  font-weight: var(--mixin-m8wGqxNPuA2C_font-weight);
  line-height: var(--mixin-m8wGqxNPuA2C_line-height);
  text-align: var(--mixin-m8wGqxNPuA2C_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-OUPRNF3niVtf_font-family);
  color: var(--mixin-OUPRNF3niVtf_color);
  font-size: var(--mixin-OUPRNF3niVtf_font-size);
  font-weight: var(--mixin-OUPRNF3niVtf_font-weight);
  line-height: var(--mixin-OUPRNF3niVtf_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-DlDkR12EN16u_color);
  padding-left: var(--mixin-DlDkR12EN16u_padding-left);
  border-left: var(--mixin-DlDkR12EN16u_border-left-width)
    var(--mixin-DlDkR12EN16u_border-left-style)
    var(--mixin-DlDkR12EN16u_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-7oJ9D6jA5iZH_font-family);
  border-radius: var(--mixin-7oJ9D6jA5iZH_border-top-left-radius)
    var(--mixin-7oJ9D6jA5iZH_border-top-right-radius)
    var(--mixin-7oJ9D6jA5iZH_border-bottom-right-radius)
    var(--mixin-7oJ9D6jA5iZH_border-bottom-left-radius);
  padding: var(--mixin-7oJ9D6jA5iZH_padding-top)
    var(--mixin-7oJ9D6jA5iZH_padding-right)
    var(--mixin-7oJ9D6jA5iZH_padding-bottom)
    var(--mixin-7oJ9D6jA5iZH_padding-left);
  border-top: var(--mixin-7oJ9D6jA5iZH_border-top-width)
    var(--mixin-7oJ9D6jA5iZH_border-top-style)
    var(--mixin-7oJ9D6jA5iZH_border-top-color);
  border-right: var(--mixin-7oJ9D6jA5iZH_border-right-width)
    var(--mixin-7oJ9D6jA5iZH_border-right-style)
    var(--mixin-7oJ9D6jA5iZH_border-right-color);
  border-bottom: var(--mixin-7oJ9D6jA5iZH_border-bottom-width)
    var(--mixin-7oJ9D6jA5iZH_border-bottom-style)
    var(--mixin-7oJ9D6jA5iZH_border-bottom-color);
  border-left: var(--mixin-7oJ9D6jA5iZH_border-left-width)
    var(--mixin-7oJ9D6jA5iZH_border-left-style)
    var(--mixin-7oJ9D6jA5iZH_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-fUfa5MkOAlYM_font-family);
  border-radius: var(--mixin-fUfa5MkOAlYM_border-top-left-radius)
    var(--mixin-fUfa5MkOAlYM_border-top-right-radius)
    var(--mixin-fUfa5MkOAlYM_border-bottom-right-radius)
    var(--mixin-fUfa5MkOAlYM_border-bottom-left-radius);
  padding: var(--mixin-fUfa5MkOAlYM_padding-top)
    var(--mixin-fUfa5MkOAlYM_padding-right)
    var(--mixin-fUfa5MkOAlYM_padding-bottom)
    var(--mixin-fUfa5MkOAlYM_padding-left);
  border-top: var(--mixin-fUfa5MkOAlYM_border-top-width)
    var(--mixin-fUfa5MkOAlYM_border-top-style)
    var(--mixin-fUfa5MkOAlYM_border-top-color);
  border-right: var(--mixin-fUfa5MkOAlYM_border-right-width)
    var(--mixin-fUfa5MkOAlYM_border-right-style)
    var(--mixin-fUfa5MkOAlYM_border-right-color);
  border-bottom: var(--mixin-fUfa5MkOAlYM_border-bottom-width)
    var(--mixin-fUfa5MkOAlYM_border-bottom-style)
    var(--mixin-fUfa5MkOAlYM_border-bottom-color);
  border-left: var(--mixin-fUfa5MkOAlYM_border-left-width)
    var(--mixin-fUfa5MkOAlYM_border-left-style)
    var(--mixin-fUfa5MkOAlYM_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-HIBNI07Qyo15_display);
  flex-direction: var(--mixin-HIBNI07Qyo15_flex-direction);
  align-items: var(--mixin-HIBNI07Qyo15_align-items);
  justify-content: var(--mixin-HIBNI07Qyo15_justify-content);
  list-style-position: var(--mixin-HIBNI07Qyo15_list-style-position);
  padding-left: var(--mixin-HIBNI07Qyo15_padding-left);
  position: var(--mixin-HIBNI07Qyo15_position);
  list-style-type: var(--mixin-HIBNI07Qyo15_list-style-type);
  flex-column-gap: var(--mixin-HIBNI07Qyo15_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-YnTTvh8ZONQq_display);
  flex-direction: var(--mixin-YnTTvh8ZONQq_flex-direction);
  align-items: var(--mixin-YnTTvh8ZONQq_align-items);
  justify-content: var(--mixin-YnTTvh8ZONQq_justify-content);
  list-style-position: var(--mixin-YnTTvh8ZONQq_list-style-position);
  padding-left: var(--mixin-YnTTvh8ZONQq_padding-left);
  position: var(--mixin-YnTTvh8ZONQq_position);
  list-style-type: var(--mixin-YnTTvh8ZONQq_list-style-type);
  flex-column-gap: var(--mixin-YnTTvh8ZONQq_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-GV1JR1TAeAW4_color);
  font-family: var(--mixin-GV1JR1TAeAW4_font-family);
  font-size: var(--mixin-GV1JR1TAeAW4_font-size);
  font-weight: var(--mixin-GV1JR1TAeAW4_font-weight);
  line-height: var(--mixin-GV1JR1TAeAW4_line-height);
  text-align: var(--mixin-GV1JR1TAeAW4_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
